<html>
    <head>
        <title>Marc's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Marc's blog</a></h1>
        </div>
        <div>
            <p>published: 03.04.2020, 13:53</p>
            <h2><a href="">My first post</a></h2>
            <p>ganz viel text und so</p>
        </div>
        <div>
            <p>published: 03.04.2020, 13:53</p>
            <h2><a href="">My second post</a></h2>
            <p>noch mehr text</p>
        </div>
    </body>
</html>